# --- Turborepo & Build Artifacts ---
.turbo
node_modules
dist
.next
out

# --- Next.js Specific ---
next-env.d.ts
.eslintcache
*.tsbuildinfo

# --- Environment Variables (Security) ---
# See Next.js docs: https://nextjs.org
.env
.env*.local
.env.development
.env.production

# --- Package Manager Specific ---
# For pnpm
.pnpm-debug.log*
# For Yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# --- System Files ---
.DS_Store
*.log
